.content-viewer {
    box-sizing: border-box;

    &__header {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: 8px 16px;
        background: var(--color-bg-ghost);
        border-radius: 4px;
        border: 1px solid var(--color-border-ghost);
    }

    &__header-info {
    }
    &__header-controls {
    }

    &__body {
        font-family: PT Mono, monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        border: 1px solid var(--color-border-ghost);
        border-top-width: 0px;

        & > :first-child {
            padding-top: 8px;
        }
    }

    &__row {
        display: grid;

        &_diff {
            grid-template-columns: 32px 32px 1fr;
        }

        &_line {
            grid-template-columns: 32px 1fr;
        }

        &_change-add {
            background-color: var(--color-bg-added);
        }

        &_change-remove {
            background-color: var(--color-bg-removed);
        }
    }
    &__row-number {
        color: var(--color-typo-ghost);
        justify-self: right;
        user-select: none;
    }

    &__row-content {
        padding-left: 32px;
        word-break: break-all;
        white-space: pre-wrap;
    }

    &__info-toolbar {
        display: grid;
        grid-auto-flow: column;
        justify-items: left;
        padding: 8px 12px;
        background: var(--color-bg-light-blue);
    }
    &__info-toolbar-buttons {
    }
}
