.data-table-row {
    display: contents;
    transform: rotate(360deg);

    &:last-child {
        border-bottom: 0;
    }

    @media screen and (max-width: 720px) {
        &:after {
            content: '';
            background: url('./assets/arrow-right-icon.svg') no-repeat;
            width: 14px;
            height: 16px;
            position: absolute;
            top: 44%;
            right: 0;
            cursor: pointer;
        }
    }

    &__cell {
        padding: 16px 8px 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        border-bottom: 1px solid var(--color-light-gray);

        @media screen and (max-width: 720px) {
            border-bottom: none;
        }

        &-name {
            @media screen and (max-width: 720px) {
                grid-row: 1/1;
                grid-column: 1 / span 3;
            }
        }

        &-last-commit {
            @media screen and (max-width: 720px) {
                grid-row: 3;
                grid-column: 1 / span 2;
            }
        }

        &-commit-message {
            @media screen and (max-width: 720px) {
                grid-row: 2/2;
                grid-column: 1 / span 5;
            }
        }
        &-commiter {
            @media screen and (max-width: 720px) {
                grid-row: 3;
                grid-column: 2 / span 2;
                &:before {
                    content: 'by';
                }
            }
        }

        &-updated {
            @media screen and (max-width: 720px) {
                grid-row: 3;
                grid-column: 2 / span 3;
            }
        }
    }

    &__cell-header {
        padding: 16px 8px 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        border-bottom: 1px solid var(--color-border-ghost);

        @media screen and (max-width: 720px) {
            border-bottom: none;
        }
    }

    & > :last-child {
        text-align: right;
    }

    @media screen and (max-width: 720px) {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        border-bottom: 1px solid var(--color-border-ghost);
    }
}
