//.data-table {
//    box-sizing: border-box;
//    display: grid;
//
//    &_col-5 {
//        grid-template-columns: repeat(5, 1fr);
//    }
//    &_col-2 {
//        grid-template-columns: 8px repeat(2, 1fr);
//        grid-column-gap: 8px;
//    }
//
//    @media screen and (max-width: 720px) {
//        display: block;
//    }
//
//    &__head {
//        display: contents;
//        @media screen and (max-width: 720px) {
//            display: none;
//        }
//    }
//
//    &__row {
//        display: contents;
//    }
//
//    &__body {
//        display: contents;
//    }
//}
