.icon {
    &_size-m {
        width: 16px;
        height: 12px;
    }

    &__folder {
        position: absolute;
        background: url('./assets/folder.svg') no-repeat;
    }

    &__paper {
        background: url('./assets/paper-icon.svg') no-repeat;
    }

    &__arrow {
        background: url('./assets/arrow.svg') no-repeat;
    }

    &__code {
        background: url('./assets/code-icon.svg') no-repeat;
    }

    &__branch {
        position: absolute;
        background: url('./assets/branch-icon.svg') no-repeat;
    }
}
