.icon-plus {
    &__icon {
        display: inline-block;
        align-self: center;
        vertical-align: middle;
        &_indent-r_m {
            margin-right: 8px;
        }

        &_indent-l_m {
            margin-left: 8px;
        }

        &_indent-r_l {
            margin-right: 16px;
        }

        &_indent-l_l {
            margin-left: 16px;
        }
    }

    &__block {
        display: inline-block;
        position: relative;
    }
}
