.list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;

    &__item {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-title {
        padding-bottom: 16px;
    }
}
